*.iml
*.hprof
*.log
*.apk
*.ap_
*.aab

.gradle/
.idea/
!/.idea/.gitignore
!/.idea/codeStyles/
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
!/.idea/compiler.xml
!/.idea/gradle.xml
!/.idea/misc.xml
!/.idea/vcs.xml
!/.idea/runConfigurations.xml
!/.idea/migrations.xml
!/.idea/AndroidProjectSystem.xml
!/.idea/deploymentTargetSelector.xml
!/.idea/deviceManager.xml

build/
captures/
.externalNativeBuild/
.cxx/
local.properties

.DS_Store
Thumbs.db

# NDK / CMake
obj/
externalNativeBuild/

# Kotlin
**/build/
**/out/

# Android Studio
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
